<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logback.rootPath" value="${logback.rootPath}" />
	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%-5level] %d{HH:mm:ss.SSS} %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${logback.rootPath}basic-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%-5level] %d{HH:mm:ss.SSS} %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="p6spy"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${logback.rootPath}p6spy/p6spy-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%-5level] %d{HH:mm:ss.SSS} %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger additivity="true" name="com.kongque" level="INFO">
		<appender-ref ref="${logback.console}" />
		<appender-ref ref="file" />
	</logger>
	<logger additivity="false" name="p6spyLogger" level="INFO">
		<appender-ref ref="p6spy" />
	</logger>
	
</configuration> 